<!DOCTYPE html>
<html>
  <head>
    <title>Ok Corgi</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Here are the Corgis</h1>
    <h2> Test:<<%= corgi[0] %>/h2>

<button type="submit" id="pawsRight" value="true" >Paws Right</button>
<button type="submit" id="pawsRight" value="null">Paws Left</button>

  </body>
</html>
