<!DOCTYPE html>
<html>
  <head>
    <title>Ok Corgi</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Here are the Corgis</h1>
    <h2> <%= random.name %> </h2>
    <h2> <%= random.age %> </h2>
    <h2> <%= random.image %> </h2>
    <h2> <%= random.dogtag %> </h2>
    <button type="submit" id="pawUp" value="null" method="post">Paws Left</button>
    <button type="submit" id="pawUp" value="true" method="post">Paws Right</button>

  </body>
</html>
