<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>ADD a corgi</h1>
    <form name="new_corgi_form" id="new_corgi_form" method="post" action="/users">
    <div>
        Name: <input type="text" name="name" id="name">
    </div></br>
    <div>
      Age: <input type="integer" name="age" id="age">
    </div></br>
    <div>
      DogTag: <input type="text" name="dogtag" id="dogtag">
    </div></br>
    <div>
      Profile Pic URL: <input type="text" name="image" id="image">
    </div></br>
    <input type="submit" value="Save">
</form>


  </body>
</html>
